項目,値,メモ
作成日（年）,★,
作成日（月）,★,
作成日（日）,★,
ふりがな,★,
戸籍氏名,★,
業績に使用する名前の表記,★,
通称等の別名,★,
性別,★,
アルファベット氏名（ファミリーネーム）,★,
アルファベット氏名（ファーストネーム）,★,
アルファベット氏名（ミドルネーム）,★,
生年月日（年）,★,
生年月日（月）,★,
生年月日（日）,★,
満年齢,★,
国籍,★,
メールアドレス,★,
本務先,★,
本務先郵便番号,★,
本務先住所,★,
本務先電話番号,★,
研究者番号,★,
ORCID ID,★,
Researcher ID,★,
J-Global ID,★,
researchmapパーマリンク,★,
